<html xmlns:th="http://www.thymleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymleaf.org ">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My Spring Boot Application</title>
</head>
<body>
<h1 th:text="${pageTitle}"></h1>
<h2>My HTMP page for test</h2>
</body>
</html>